td {
    padding: 0 2px;
    height: 27px;

    &.strikethrough {
        position: relative;

        &:before {
            position: absolute;
            content: '';
            left: -1px;
            top: 50%;
            right: 0;
            border-top: 2px solid;
            border-color: inherit;

            -webkit-transform: rotate(-60deg);
            -moz-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
            -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
        }
    }

    &.underlined {
        border-bottom: 1px solid black;
    }

    &.carry {
        font-size: 0.7em;
        vertical-align: center;
        text-align: center;
        height: 19px;
    }

    &.highlight {
        background: #ffcccc;
    }

    &.border-right {
        border-right: 1px solid black;
        padding: 0 4px;
        text-align: right;

        & + td {
            padding: 0 4px;
            text-align: left;
        }
    }
}
