@use '@/style/colors';

.example {
    display: block;
    text-align: justify;
    background-color: colors.$example-background;
    border-left: 3px solid colors.$main-red;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: 30px 30px;

    &:hover {
        background-color: colors.$example-background-darker;
    }
}

@media screen and (max-width: 700px) {
    .example {
        margin: 30px 0;
    }
}
