@use '@/style/colors';
@use '@/style/fonts';

.proof-sticker {
    position: absolute;
    display: inline-block;
    padding: 0 10px;
    height: 31px;
    line-height: 31px;
    margin: 0px;
    top: 0;
    left: -1px;
    color: white;
    background-color: colors.$darker-gray;
    transition: background-color 0.1s;
    font-size: 0.9em;
    font-family: fonts.$secondary-font;
}

.proof {
    display: block;
    position: relative;
    padding: 31px;
    border: 1px solid colors.$gray;
    background: colors.$light-gray;

    .warning {
        font-family: arial;
        color: colors.$darker-gray;
        font-size: 0.7em;
        margin-top: 0;
    }

    + .proof {
        border-top: 1em solid colors.$gray;
    }
}
