@use '@/style/colors';
@use '@/style/fonts';

.type {
    display: inline-block;
    background-color: colors.$main-red;
    padding: 0 5px;
    height: 31px;
    line-height: 31px;
    color: white;
    margin-top: 0;
    transition: background-color 0.1s;
    font-size: 0.9em;
    font-family: fonts.$secondary-font;
    white-space: pre;
}

.type + * {
    margin-top: 0;
}

.type:hover {
    background-color: colors.$darker-main-red;
    transition: background-color 0.1s;
}

.warning {
    font-family: fonts.$secondary-font;
    color: colors.$darker-gray;
    font-size: 0.8em;
    margin-top: -0.2em;
}
