$main-red: #dd3333;
$darker-main-red: #cc4444;
$intense-red: #ef0000;
$dark-red: #aa0000;
$darker-red: #990000;
$light-gray: #eeeeee;
$gray: #e0e0e0;
$dark-gray: #cccccc;
$darker-gray: #aaaaaa;
$half-gray: #777777;
$light-creamy: #fff0f0;
$creamy: #f5e0e0;
$darker-creamy: #eeaaaa;
$darker-white: #fefefe;

$example-background: #f6f6f6;
$example-background-darker: #f2f2f2;

$tile-fill: #eedddd;
$tile-fill-hover: #dd8888;

$logo-red: #cc0000;
