// color picker
$light-gray: #eeeeee;

$light-creamy: #fff0f0;
$creamy: #ffcccc;
$tile-fill: #eedddd;
$darker-creamy: #eeaaaa;
$tile-fill-hover: #dd8888;

$intense-red: #ef0000;
$main-red: #dd3333;
$darker-main-red: #cc4444;
$dark-red: #aa0000;
$darker-red: #990000;

$gray: #e0e0e0;
$dark-gray: #cccccc;
$darker-gray: #aaaaaa;
$half-gray: #777777;

// other
$logo-red: #cc0000;
$darker-white: #fefefe;
$example-background: #fff8f8;
$example-background-darker: #faf2f2;
