@use '@/style/colors';
@use '@/style/fonts';

p {
    text-align: justify;
    line-height: 26.4px;
    margin: 1.2em 0;
}

ul {
    list-style: none;
    display: table;

    li:before {
        content: '◆';
        margin: 0 1em;
        display: table-cell;
        padding-right: 0.5em;
    }

    ul li:before {
        content: '◈';
        margin: 0 1.5em;
    }
}

ol {
    counter-reset: foo;

    li {
        counter-increment: foo;

        &:before {
            content: counter(foo) ')';
            margin: 0 1em;
            display: table-cell;
            padding-right: 0.5em;
        }
    }
}

@media screen and (max-width: 700px) {
    ul,
    ol {
        padding-left: 0;
    }
}

li {
    display: table-row;
    margin: 50px 0;

    &:before {
        color: colors.$main-red;
    }

    p {
        margin: 0;
    }
}

button {
    text-align: center; // ? not sure about this one
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    border-radius: 7px;
    border: 1px solid colors.$darker-gray;
    padding-left: 6px;
    padding-right: 6px;
    height: 25px;

    &:focus {
        border-color: colors.$darker-creamy;
        outline: none;
        box-shadow: 0 0 15px 0 colors.$creamy;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

::selection,
::moz-selection {
    background: #ff6666;
    color: white;
}

// useful reusable classes
.no-selection {
    user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.center {
    margin-left: auto;
    margin-right: auto;
}

button.button-red {
    background-color: colors.$main-red;
    color: white;
    padding: 15px 32px;
    font-size: 0.9em;
    margin: 4px 2px;

    &:hover {
        box-shadow:
            0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: colors.$darker-red;
    }
}

a.link {
    &,
    &:link {
        color: colors.$main-red;
    }

    &:visited {
        color: colors.$darker-red;
    }

    &:hover {
        color: colors.$intense-red;
    }

    &:active {
        color: black;
    }
}
