* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: none;
    padding: 0;

    &:focus {
        outline: none;
    }
}

input[type='number'] {
    border: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
