.sheep_big img[src="../.images/sheep.png"]
{
	height: 70px;
}


.sheep_big
{
	margin-bottom: -0.5em;
}

.sheep_small img[src="../.images/sheep.png"]
{
	height: 30px;
}

.sheep_small
{
	margin-bottom: -1em;
}