$main-red: #dd3333;
$darker-main-red: #cc4444;
$intense-red: #ef0000;
$dark-red: #aa0000;
$darker-red: #990000;
$light-gray: #eeeeee;
$gray: #e0e0e0;
$dark-gray: #cccccc;
$darker-gray: #aaaaaa;
$half-gray: #777777;
$light-creamy: #fff0f0;
$creamy: #f5e0e0;
$darker-creamy: #eeaaaa;
$darker-white: #fefefe;

$example-background: #f6f6f6;
$example-background-darker: #f2f2f2;

$tile-fill: #eedddd;
$tile-fill-hover: #dd8888;

$logo-red: #cc0000;


$main-font: 'Segoe UI', 'sans';
$secondary-font: 'Corbel', 'sans';
$geometric-font: 'Consolas', 'FreeMono';

p
{
	margin: 1.2em 0;
}

p:not(.printable)
{
	text-align: justify;
	line-height: 26.4px;
}

.no_selection 
{
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

a
{
	text-decoration: none;
	color: inherit;
}

li
{
	display: table-row;
	margin: 50px 0;
}

li:before
{
	color: $main-red;
}

ul
{
	list-style: none;
	display: table;

	li:before
	{
		content: "◆";
		margin: 0 1em;  
		display: table-cell;
		padding-right:  0.5em;
	}

	ul li:before
	{
		content: "◈";
		margin: 0 1.5em;
	}
}

ol
{
	counter-reset: foo;

	li
	{
		counter-increment: foo;
	}

	li:before
	{
		content: counter(foo) ")";
		margin: 0 1em;  
		display: table-cell;
		padding-right:  0.5em;
	}
}

@media screen and (max-width: 700px)
{
	ul, ol
	{
		padding-left: 0;
	}
}

button
{
	background-color: $main-red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	/*display: inline-block;*/
	font-size: 0.9em;
	margin: 4px 2px;
	cursor: pointer;
}

button:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: $darker-red;
}

button:focus
{
	outline: none;
}

input
{
	border-radius: 7px;
	border: 1px solid $darker-gray;
	padding-left: 6px;
	padding-right: 6px; 
	height: 25px;
}

input:focus
{
	border-color: $darker-creamy;
	outline: none;
	box-shadow: 0 0 15px 0 $creamy;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

::selection
{
	background: $intense-red;
	color: white;
}

::moz-selection
{
	background: $intense-red;
	color: white;
}

.modal
{
	display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal_content
{
	background: $light-gray;
	top: 40%;
	width: 50%;
	padding: 30px;
	margin: auto;
}

.center
{
	margin-left: auto;
	margin-right: auto;
}

table
{
	font-size: 1em;
}

a.link:link
{
	color: $main-red;
}

a.link:visited
{
	color: $darker-red;
}

a.link:hover
{
	color: $intense-red;
}

a.link:active
{
	color: black;
}

/* ========================================== LESSON ========================================== */


.comment_visible_window
{
	position: absolute;
	background: white;
	padding: 6px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-family: calibri light;
	font-size: 15px;
	box-shadow: inset 0px -15px 15px -5px rgba(0, 0, 0, 0.15);
}

.comment_visible_question_mark
{
	color: $main-red;
	font-family: $geometric-font;
	font-size: 28px;
}

.example
{
	text-align: justify;
	background-color: $example-background;
	border-left: 3px solid $main-red;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
	padding: 15px;
	margin: 30px 30px;
}

.example:hover
{
	background-color: $example-background-darker;
}

@media screen and (max-width: 700px)
{
	.example
	{
		margin: 30px 0;
	}
}

p.type
{
	/* line-height: 0%; */
	display: inline-block;
	background-color: $main-red;
	padding: 0 5px;
	height: 31px;
	line-height: 31px;
	color: white;
	margin-top: 0;
	margin-bottom: 0.1em;
	transition: background-color 0.1s;
	/* box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4); */
	font-size: 0.9em;
	font-family: $secondary-font;
}

p.type + *
{
	margin-top: 0;
}

p.type:hover
{
	background-color: $darker-main-red;
	transition: background-color 0.1s;
}

p.optional-hide:after
{
	content: ">";
	display: inline-block;
	background: $dark-red;
	margin: 0 0 5px 5px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	font-family: $geometric-font;
	line-height: 21px;
	font-size: 21px;
	transition: transform 0.5s;
}

p.optional-hide:hover:after
{
	background: $darker-red;
	transform: rotate(90deg);
	transition: transform 0.5s;
}

p.optional-show:after
{
	content: ">";
	display: inline-block;
	background: $dark-red;
	margin: 0 0 5px 5px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	font-family: $geometric-font;
	line-height: 21px;
	font-size: 21px;
	transform: rotate(90deg);
	transition: transform 0.5s;
}

p.optional-show:hover:after
{
	background: $darker-red;
	transform: rotate(0deg);
	transition: transform 0.5s;
}

p.optional-show ~ div
{
	margin: -5px -25px;
	padding: 5px 25px;
}

p.optional-hide:hover ~ div
{
	background: $light-creamy;
}

p.optional-show:hover ~ div
{
	background: $light-creamy;
}

.proof-sticker
{
	position: absolute;
	display: inline-block;
	padding: 5px;
	margin: 0px;
	top: 0;
	left: -1px;
	color: white;
	background-color: $darker-gray;
	transition: background-color 0.1s;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
}

p.warning
{
	font-family: $secondary-font;
	color: $darker-gray;
	font-size: 0.8em;
	margin-top: -0.2em;
	margin-bottom: -1.5em;
}	

.proof .warning
{
	font-family: arial;
	color: $darker-gray;
	font-size: 0.7em;
	margin-top: 0
}	

p.problem
{
	font-weight: bold;
	text-align: center;
}

.formula
{
	text-align: center !important;
	background-color: $gray;
	padding: 10px;
	margin: 0px;
}

.proof
{
	position: relative;
	padding: 40px 10px 10px 10px;
	border: 1px solid $darker-gray;
	border-top:  1px solid $gray;
	border-bottom:  1px solid $gray;
	background: white;
}

.proof + .proof
{
	border-top: 1em solid $gray;
}

/* ========================================== COMMON ELEMENTS ========================================== */
table.tiles
{
	border-collapse: collapse;

	td {
		height: 45px;
		width: 41px;
		background-color: $tile-fill;
		border: 3px groove $dark-red;
	}

	td:hover {
		background-color: $tile-fill-hover;
		border-style: ridge;
	}
}

polygon
{
	/*fill: $main-red; */
	fill: url(#gradient);
	stroke-width:0;
	box-shadow: 0 0px 100px 0 rgba(0,0,0,0.24);
}

circle
{
	/*fill: $main-red; */
	fill: url(#gradient);
	stroke-width:0;
	box-shadow: 0 0px 100px 0 rgba(0,0,0,0.24);
}

.draggable
{
	cursor: move;
}

/* ========================================== COLUMNAR OPERATION ========================================== */
.strikethrough 
{
	position: relative;
}

.strikethrough:before 
{
	position: absolute;
	content: "";
	left: -1px;
	top: 50%;
	right: 0;
	border-top: 2px solid;
	border-color: inherit;

	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
	-ms-transform:rotate(-60deg);
	-o-transform:rotate(-60deg);
	transform:rotate(-60deg);
}

table.columnar_operation
{
	border-collapse: collapse; 
}

td.columnar_operation_not_carry
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	height: 27px;
}

td.columnar_operation_underlined
{
	border-bottom: 1pt solid black;
}

td.columnar_operation_carry
{
	font-size: 0.7em;
	vertical-align: center;
	text-align: center;
	height: 19px;
}

td.columnar_operation_highlight
{
	background: #FFCCCC;
}
