body.lekcja
{
  /*background-color: #8A1010;*/
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

body.drzewo
{
  background-color: #FFFFFF;
}

a:link
{
  color: #BA0000;
  text-decoration: none;
}

a:visited
{
  color: #700000;
  text-decoration: none;
}

a:hover
{
  color: #FA0000;
  text-decoration: none;
}

a:active
{
  color: #300000;
  text-decoration: none;
}

div.glowny
{
  color: #000000; 
  background: #FEFEFE; 
  position: relative; 
  top: 50px;
  border: 3px solid black;
  width: 900px;
  margin: auto; 
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: inset 0 0 13px 4px rgba(0, 0, 0, 0.3);
  font-family: "Calibri Light";
  font-size: 24px;
}

div.menu
{
  color: #000000; 
  background: #FEFEFE; 
  position: relative; 
  top: 0px;
  border-bottom: 1px solid black; 
  width: auto;
  margin: auto; 
  padding: 10px;
  box-shadow: inset 0 -9px 15px 0px rgba(0, 0, 0, 0.3);
  height: 70px;
}

div.proof
{
	border: 1px solid #777777;
	border-collapse: collapse;
}

div.comment_window
{
	position: fixed;
    background: #FEFEFE;
    padding: 6px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-family: calibri light;
	font-size: 15px;
	box-shadow: inset 0px -15px 15px -5px rgba(0, 0, 0, 0.15);
}

div.chapter
{
	position: relative;
}

div.chapter:first-of-type
{
	margin-top: 55px;
}

div.chapter_name
{
	position: relative;
	cursor: pointer;
	font-family: corbel;
	text-align: center;
	line-height: 0%;
	margin-top: 9px; /*50px*/
	margin-bottom: 25px;
}

div.chapter_body
{
	position: relative;
	border: 0px solid black;
	margin-bottom: 55px;
	margin-top: 0px;
	padding: 0px;
	box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.3);
}

div.chapter_mask
{
  overflow: hidden;
  position: relative;
  border: 0px solid black;
  margin: 0; 
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.3);
}



p:not(.printable)
{
  margin: 15px;
  font-family: calibri light;
  font-size: 24px; /*24 to standard chyba*/
}

p.tytul
{
  text-align: center;
  font-size: 50px;
  font-family: cambria;
  margin: 50px;
}

p.tytul_short
{
  text-align: center;
  font-size: 50px;
  font-family: cambria;
  margin-top: 50px;
  margin-bottom: 1px;
}

p.podtytul
{
  text-align: center;
  font-size: 25px;
  font-family: cambria;
  margin-top: 1px;
  margin-bottom: 50px;
}

p.typ
{
  font-family: calibri;
  font-size: 31px;
  line-height: 0%;
  margin-bottom: 25px;
  margin-top: 40px;
  text-shadow: 2px 2px #CCCCCC;
}

p.ostrzezenie
{
  font-family: arial;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.formula
{
	text-align: center;
	text-shadow: 3px 3px #EEEEEE;
	text-shadow: 2px 2px #DDDDDD;
	text-shadow: 1px 1px #AAAAAA;
}



.no_selection 
{
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}



ul
{
  list-style: none;
  display: table;
}

li
{
	display: table-row;
	margin: 50px 0;
}

ul li:before
{
  content: "♣";
  color: #CC2222;
  margin: 0 1em;  
  display: table-cell;
  padding-right:  0.5em;
}

ul ul li:before
{
  content: "♥";
  color: #CC2222;
  margin: 0 1.5em;
}

ol
{
	counter_reset: foo;
}

ol li
{
	counter-increment: foo;
}

ol li:before
{
	content: counter(foo) ")";
	color: #DD2222;
	margin: 0 1.5em;
	margin: 0 1em;  
	display: table-cell;
	padding-right:  0.5em;
}



.chapter_name + hr
{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  margin-right: 15px;
}

.chapter_name:hover + hr
{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 1);
  margin-left: 15px;
  margin-right: 15px;
}





table
{
  font-size: 23px;
}

table.tabelka
{
  text-align: center;
  border-collapse: collapse;
  border-style: hidden;
}

table.tabelka td
{
  height: 34px;
  width: 32px;
  border: 1px solid black;
}

table.tabelka th 
{
    height: 34px;
    width: 32px;
    border: 2px solid black;
    color: #772222;
    text-shadow: 1px 1px #CCCCCC;
}

table.tiles
{
  border-collapse: collapse;
}

table.tiles td
{
  height: 45px;
  width: 41px;
  background-color: #EEDDDD;
  border: 3px groove #AA2222;
}

table.tiles td:hover
{
   background-color: #DD8888;
   border-style: ridge;
}



button
{
  background-color: #AA1111;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #771111;
}

button:focus
{
  outline: none;
}

button.przejscie
{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button.przejscie:hover
{
  box-shadow: none;
}

button.przejscie span 
{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.przejscie span:after 
{
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.przejscie:hover span 
{
  padding-right: 25px;
  text-shadow: 2px 2px #CCCCCC;
}

button.przejscie:hover span:after 
{
  opacity: 1;
  right: 0;
}

button.przejscie span a
{
  color: black;
}

input
{
  border-radius: 7px;
  border: 1px solid #AAAAAA;
  padding-left: 6px;
  padding-right: 6px; 
  height: 25px;
}

input:focus
{
  border-color: #EEAAAA;
  outline: none;
  box-shadow: 0 0 15px 0 #FFAAAA;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}





polygon
{
  /*fill: #DD2222; */
  fill: url(#gradient);
  stroke-width:0;
  box-shadow: 0 0px 100px 0 rgba(0,0,0,0.24);
}

circle
{
  /*fill: #DD2222; */
  fill: url(#gradient);
  stroke-width:0;
  box-shadow: 0 0px 100px 0 rgba(0,0,0,0.24);
}

.draggable
{
  cursor: move;
}

::selection
{
  background: #EF0000;
  color: #FFFFFF;
}

::moz-selection
{
  background: #EF0000;
  color: #FFFFFF;
}





table.columnar_operation
{
	border-collapse: collapse; 
	font-family: Bookman Old Style;
}

td.columnar_operation
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	height: 27px;
}

td.columnar_operation_underlined
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: 1pt solid black;
}

td.columnar_operation_carry
{
	font-size: 15px;
	vertical-align: center;
	text-align: center;
	height: 19px;
}



table.columnar_operation_script
{
	border: 1px solid #888888;
	width: 80%;
	height: 0px;
	text-align: center;
	padding: 20px;
	visibility: hidden;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
}

table.columnar_operation_script td
{
	vertical-align: center;
}

#columnar_addition_script_button_left + td
{
	width: 80%;
	vertical-align: top;
}

#columnar_addition_script
{
	margin-top: 60px;
}

#columnar_addition_script_comment
{
	margin-top: 60px;
}